<div>
	<div class="row" style="margin-top:20px">
		<div class="col-3">
			<ul class="list-group">
				<li class="list-group-item active"><a href="/remainrooms" style="color:white">ホーム</a></li>
				<li class="list-group-item list-group-item-action"><a href="/reservations">プラン管理</a></li>
				<li class="list-group-item list-group-item-action">売上管理</li>
				<li class="list-group-item list-group-item-action"><a href="/plan/admin_index">プラン管理</a></li>
				<li class="list-group-item list-group-item-action"><a href="/article/admin_index">記事管理</a></li>
			</ul>
		</div>
		<div class="col-9">
			<h3 style="border-left:7px solid #4689FF; border-bottom:2px solid #4689FF;padding:11px;margin-bottom:"><strong>記事情報</strong></h3>
			<table class="table-striped">
				<thead>
					<td>ID</td>
					<td>タイトル</td>
					<td style="width:400px">内容</td>
					<td>著者</td>
					<td>サムネイルURL</td>
				</thead>
				<tbody>
					<% @articles.each do |article| %>
						<tr>
							<td><a href="/articles/<%= article.id %>"><%= article.id %></a></td>
							<td><%= article.title %><br><a href="/articles/<%= article.id %>/edit" class="btn btn-sm btn-info" style="margin-bottom:10px">編集する</a></td>
							<td><%= article.content[0..100] %>...</td>
							<td><%= article.author %></td>
							<td><a href='<%= article.thumbnail %>'><%= article.thumbnail.split("/")[-1] %></a></td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<br>
			<%= paginate @articles %>
		</div>
	</div>
</div>