<div class="row" style="margin-top:20px">
	<div class="col-3">
		<ul>
			<li class="list-group-item active"><a href="/en/remainrooms" style="color:white">TopPage</a></li>
			<li class="list-group-item list-group-item-action"><a href="/en/reservations">Reservation Admin</a></li>
			<li class="list-group-item list-group-item-action">Sales Admin</li>
			<li class="list-group-item list-group-item-action"><a href="/en/plan/admin_index">Plan Admin</a></li>
			<li class="list-group-item list-group-item-action"><a href="/en/article/admin_index">Article Admin</a></li>
		</ul>
	</div>
	<div class="col-9">
		<h3><%= @remainroom.room_date %> Reservation</h3>
		<a href="/en/remainrooms/<%= @remainroom.id %>/edit" class="btn btn-sm btn-success">Edit</a>
		<hr>
		<div class="row">
			<div class="col-6">
				<h5>Reservation Room Status</h5>
				<table class="table">
				<% @plans_remainrooms.each do |p_room_k, p_room_c| %>
					<% plan = Plan.find(p_room_k) %>
					<tr>
						<td><a href="/en/plans/<%= plan.id %>"><%= plan.title %></a></td>
						<td><%= p_room_c %></td>
					</tr>
				<% end %>
				</table>
			</div>
			<div class="col-6">
				<h5>Price Status　<a href="/en/remainrooms/<%= @remainroom.id %>/edit" class="btn btn-sm btn-success">Edit</a></h5>
				<table class="table">
					<% @price_remainrooms.each do |pr_room_k, pr_room_c| %>
						<% plan = Plan.find(pr_room_k) %>
						<tr>
							<td>
								<a href="/en/plans/<%= plan.id %>"><%= plan.title %></a>
							</td>
							<td>
								<%= pr_room_c %>
							</td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>
		<div class="">
			<h3>Reservations Today</h3>
			<div class="row">
			<% @reservations.each do |res| %>
				<div class="col-6">
					<div class="card" style="margin-bottom:10px;padding:10px;">
						<% plan = Plan.find(res.plan_id) %>
						<h4><a href="/en/reservations/<%= res.id %>?reservation_hash=<%= res.url_hash %>"><%= plan.title %></a></h4>
						<p><%= res.last_name %> <%= res.first_name %>　<%= res.email %></p>
						<p><%= plan.price %>Yen <%= plan.people_num %>Person Room</p>
					</div>
				</div>
			<% end %>
		</div>
		<br>
	</div>
</div>