<div class="">
	<div style="padding:30px 30px 10px 30px;">
		<div class="card" style="padding:20px;">
			<h4>ご予約の流れ</h4>
			<hr>
			<div class="row">
				<div class="col-4">
					<div class="card" style="padding:10px;margin:5px 10px;">
						<h5 style="color:rgba(30, 30, 30, .3)">1 : 予約プラン確認</h5>
					</div>
				</div>
				<div class="col-4">
					<div class="card" style="padding:10px;border-width:3px;border-color:#66CCFF;margin:5px 10px;">
						<h5>2 : ご予約内容の入力</h5>
					</div>
				</div>
				<div class="col-4">
					<div class="card" style="padding:10px;margin:5px 10px;">
						<h5 style="color:rgba(30, 30, 30, .3)">3 : 予約完了</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="padding:30px;">
	<h1 class="text-center">部屋確認</h1>
	<div class="row">
		<div class="col-12">
			<div class="card" style="padding:15px;margin-bottom:20px;">
				<%= form_tag("/reservations", method: "post") do |f| %>
				<h4 style="margin-bottom:17px;">
				<%= @plan.title %>　<small><%= @start_date %>～<%= @end_date %>の宿泊</small>
				</h4>
				<h6>
				<%= hidden_field_tag :plan_id, @plan.id %>
				<%= hidden_field_tag :people_num, @plan.people_num %>
				<%= hidden_field_tag :start_date, @start_date %>
				<%= hidden_field_tag :end_date, @end_date %>
				<small>
				<%= @prices_hash[@plan.id] %>円　<%= @plan.people_num %>人部屋　<%= @plan.room_num %>部屋数
				</small>
				<br><br>
				<%= @plan.explanation %>
				</h6>
				<hr>
			<div class="row">
				<div class="col-6">
					<p>名字　　
					<%= text_field_tag :last_name, nil, :class => "form-control", :style => "width:60%;display:inline-block;" %>
					</p>
				</div>
				<div class="col-6">
					<p>名前　　
					<%= text_field_tag :first_name, nil, :class => "form-control", :style => "width:60%;display:inline-block;" %>
					</p>
				</div>
				<div class="col-6">
					<p>メール　
					<%= email_field_tag :email, nil, :class => "form-control", :style => "width:60%;display:inline-block;" %>
					</p>
					<%= hidden_field_tag :plan_id, @plan.id %>
				</div>
				<div class="col-6">
					<p>支払方法　
					<%= select_tag :payment_type, options_for_select({"カード払い" => 1,"現地払い" => 2}), :class => "form-control", :style => "width:60%;display:inline-block;" %>
					</p>
				</div>
			</div>
			<br>
			<%= submit_tag "予約する", :class => "btn btn-sm btn-info text-center", :style => "width:200px;" %>
			<% end %>
		</div>
	</div>
	</div>
</div>