<div class="row">
	<div class="col-3">
		<ul class="list-group">
			<li class="list-group-item active"><a href="/remainrooms" style="color:white">ホーム</a></li>
			<li class="list-group-item list-group-item-action"><a href="/reservations">予約管理</a></li>
			<li class="list-group-item list-group-item-action">売上管理</li>
			<li class="list-group-item list-group-item-action">プラン管理</li>
			<li class="list-group-item list-group-item-action">記事管理</li>
		</ul>
	</div>
	<div class="col-9">
		<h4 style="border-left:7px solid #4689FF; border-bottom:2px solid #4689FF;padding:11px;">2週間の予約管理</h4>
		<br>
		<table class="table table-striped">
			<thead>
				<td></td>
				<% 0.upto(6) do |d| %>
					<td><%= Date.today + d %></td>
				<% end %>
			</thead>
			<tr>
				<td></td>
				<% 0.upto(6) do |d| %>
					<% d_date = Date.today + d %>
					<% rsrvs = Reservation.where(:start_date => d_date) %>
					<td style="font-size:11px">
							<%= rsrvs.length %>件の予約
							<% if rsrvs.length != 0 %>
							<br>
							<% rsrvs_amount = 0 %>
							<% rsrvs.map {|r| rsrvs_amount += r.price } %>
							合計：<%= rsrvs_amount %>円
							<br>
							<a href="/reservations/<%= rsrvs[0].id %>"><%= rsrvs[0].email %></a> など
							<br>
							<a href="/remainrooms/<%= Remainroom.find_by(:room_date => d_date).id %>" class="btn btn-sm btn-success" style="margin-top:8px">詳しく見る</a>
						<% end %>
					</td>
				<% end %>
			</tr>
		</table>
		<br>
		<table class="table table-striped">
			<thead>
				<td></td>
				<% 7.upto(13) do |d| %>
					<td><%= Date.today + d %></td>
				<% end %>
			</thead>
			<tr>
				<td></td>
				<% 7.upto(13) do |d| %>
					<% d_date = Date.today + d %>
					<% rsrvs = Reservation.where(:start_date => d_date) %>
					<td style="font-size:11px">
							<%= rsrvs.length %>件の予約
							<% if rsrvs.length != 0 %>
							<br>
							<% rsrvs_amount = 0 %>
							<% rsrvs.map {|r| rsrvs_amount += r.price } %>
							合計：<%= rsrvs_amount %>円
							<br>
							<a href="/reservations/<%= rsrvs[0].id %>"><%= rsrvs[0].email %></a> など
							<br>
							<a href="/remainrooms/<%= Remainroom.find_by(:room_date => d_date).id %>" class="btn btn-sm btn-success" style="margin-top:8px">詳しく見る</a>
						<% end %>
					</td>
				<% end %>
			</tr>
		</table>
		<h4 style="border-left:7px solid #4689FF; border-bottom:2px solid #4689FF;padding:11px;">予約管理</h4>
		<table class="table" style="margin-top:30px">
			<thead>
				<td>ID</td>
				<td>メール</td>
				<td>名前</td>
				<td>Plan ID</td>
				<td>ハッシュ</td>
				<td>値段</td>
			</thead>
			<% @reservations.each do |resv| %>
				<tr>
					<td><a href="/reservations/<%= resv.id %>?reservation_hash=<%= resv.url_hash %>"><%= resv.id %></a></td>
					<td><%= resv.email %></td>
					<td><%= resv.first_name %> <%= resv.last_name %></td>
					<td><a href="/plans/<%= resv.plan_id %>"><%= resv.plan_id %></a></td>
					<td><%= resv.url_hash %></td>
					<td><%= resv.price %>円</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>