<div class="row">
	<div class="d-none d-sm-block col-3">
		<!---->
		<%= render('/common/right_bar') %>
	</div>
	<div class="col-sm-9 col-12">
		<div class="">
			<h1 class="text-center">Plans</h1>
			<% if @tag != nil %>
				<div class="text-center">
					<h6 style="border:1px solid rgba(140, 140, 140, .6); border-left:3px solid #4169e1; width:30%;margin-left:35%;padding:5px"><%= @tag.name %></h6>
				</div>
			<% end %>
			<hr style="border-color:red;width:100px;">
			<div class="row">
				<% Tag.all.each do |tag| %>
					<div class="col-sm-3 col-6">
						<a href="/en/plans?tags=<%= tag.id %>">
							<div style="border:1px solid rgba(140, 140, 140, .6); border-left:3px solid #4169e1;padding:5px;margin-bottom:10px">
								<small><%= tag.name %></small>
							</div>
						</a>
					</div>
				<% end %>
			</div>
			<hr>
			<div class="row">
				<% @plans.each do |plan| %>
					<% tags = Tag.where(:id => eval("[#{plan.tag_ids}]") ) %>
					<div class="col-12 col-sm-4">
						<div class="card" style="padding:12px;margin-bottom:10px;">
							<h6>
								<a href="/en/plans/<%= plan.id %>"><%= plan.title %></a>
									<% if tags != [] %>
										<br>
										<small style="font-size:7px;margin-top:10px;">
											<% tags.each do |t| %>
												<span style="border:1px solid rgba(140, 140, 140, .4);border-left:3px solid #4169e1;padding:2px"><%= t.name %></span>
											<% end %>
										</small>
									<% end %>
								<a href="/en/plans/<%= plan.id %>">
									<img src="<%= plan.fixed_image_url %>" style="width:100%;margin:20px 0;">
								</a>
								<br><small><%= plan.price %>Yen　<%= plan.people_num %>Person Room　<%= plan.room_num %>Rooms</small>
							</h6>
							<p><small><%= plan.explanation %></small></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>