<div class="">
	<h1 class="text-center">プラン一覧</h1>
	<br>
	<div class="row">
		<% @plans.each do |plan| %>
			<div class="col-6 col-sm-4">
				<div class="card" style="padding:12px;margin-bottom:10px;">
					<h6>
						<a href="/plans/<%= plan.id %>"><%= plan.title %></a>
						<br><small><%= plan.price %>円　<%= plan.people_num %>人部屋　<%= plan.room_num %>部屋数</small>
					</h6>
					<p><small><%= plan.explanation %></small></p>
				</div>
			</div>
		<% end %>
	</div>
</div>